.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.movie-item {
  text-decoration: none;
  color: red;
  margin: 1rem;
  text-align: center;
}

.movie-item h3 {
  margin: 0.5rem 0;
}

