
.card-number {
    background-color: rgb(59, 61, 61);
    display: block;
    font-size: 8px;
    margin: 15px 0 0;
    text-transform: font;
}
.input-content{
    background-color: rgb(59, 61, 61);
    height: 35px;
    width: 300px;
    border: 0;
    border-radius: 3px;
    align-items: center;
}
.card-author {
    display: block;
    font-size: 12px;
    letter-spacing: 0.5px;
    margin: 15px 0 0;
    text-transform: uppercase;
}
.card-title {
    font-family: "Cormorant Garamond", serif;
    font-size: 60px;
    font-weight: 300;
    line-height: 60px;
    margin: 10px;
    text-transform: uppercase;
}
.img {
    width: 50%;
    height: 50;
    background-image: url();
    background-size: 70% 70%;

}