/* App Styles */

/* Profile Page Styles */
.profile-page {
  text-align: center;
  color: white;
}

/* User Profile Styles */
.user-profile {
  background-color: #0e0d0d;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  max-width: 600px;
  margin: 0 auto;
}

.user-profile h1 {
  font-size: 24px;
  margin: 0;
}

.user-profile img {
  max-width: 100px;
  margin: 10px auto;
  border-radius: 5%;
}

.user-profile button {
  background-color: rgb(165, 162, 162);
  color: rgb(7, 7, 7);
  border: none;
  border-radius: 50%;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.user-profile button:hover {
  background-color: #8b8886;
  
}

.avtar {
  height: 90px;
  width: 100px;
  padding: 10px;
}

.avtar-btn {
  border-radius: 50%;
}