.feature-content {
  background-color: #141414;
  padding: 20px;
  color: #fff;
}

.feature-content h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.list-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  justify-content: center;
}
