.overlay {
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-container {
  display: flex;
  gap: 10px;
  align-items: center;
}


.dropdown {
  background: silver;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.btn {
  background: black;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
