.input-content{
    background-color: rgb(59, 61, 61);
    height: 35px;
    width: 300px;
    border: 0;
    border-radius: 3px;
   
  
    
}
.submit-btn{
    height: 40px;
    width:300px;
    color: white;
    background-color: red;
    border: 0;
    border-radius: 3px;
}
.error-message{
    color: red;
}