.container{
    background: rgb(7, 7, 7, 0.75);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  
 height: 600px;
 width: 400px;
  padding: 20px;
  align-items: center;
  justify-content: center;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}